@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
/*------------------------------
共通パーツ
------------------------------*/
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  overflow-x: hidden;
  overflow-wrap: break-word;
  padding-top: 7rem;
}

@media (max-width: 767px) {
  body {
    padding-top: 60px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

@media (min-width: 1200px) {
  .hidden-pc {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1295px) {
  .hidden-tab {
    display: none;
  }
}

@media (max-width: 767px) {
  .hidden-sp {
    display: none;
  }
}

.section {
  padding: 100px 0;
}

@media (max-width: 767px) {
  .section {
    padding: 20px 0;
    overflow: hidden;
  }
}

.section__title {
  font-size: 4rem;
  line-height: 1;
  text-align: center;
  margin-top: 2px;
}

@media (max-width: 1295px) {
  .section__title {
    font-size: 50px;
  }
}

@media (max-width: 767px) {
  .section__title {
    font-size: 42px;
    padding-bottom: 16px;
  }
}

.section__title span {
  display: block;
  position: relative;
  padding-bottom: 0;
}

.section__title span::after {
  content: "";
  display: block;
  width: 60px;
  height: 0.1rem;
  position: absolute;
  z-index: 1;
  bottom: -16px;
  background-color: #3ea1d1;
  left: 50%;
  transform: translate(-50%);
}

@media (max-width: 767px) {
  .section__title span::after {
    width: 48px;
  }
}

.container {
  width: 1000px;
  margin: 0 auto;
}

@media (max-width: 1295px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .inner {
    width: 100%;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}

.sub__inner {
  width: 800px;
  margin: auto;
}

@media (max-width: 1295px) {
  .sub__inner {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .sub__inner {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* よく出てくる（であろう）ボタン */
.primary-button {
  display: flex;
  justify-content: center;
  max-width: 100%;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 24px;
  color: white;
  background-color: #3ea1d1;
  border: 1px solid #008dd5;
  border-radius: 4px;
  position: relative;
  transition: all 0.3s ease 0s;
}

.primary-button::before,
.primary-button::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 1;
  transition: opacity 1.2s ease 0s;
}

.primary-button:hover {
  color: #fff;
  opacity: 0.8;
}

.primary-button:hover::before {
  opacity: 0;
}

.primary-button:hover::after {
  opacity: 1;
}

.primary-button--monochrome {
  color: #333;
  border-color: #333;
}

.primary-button--monochrome:hover {
  background-color: #333;
}

.primary-button--monochrome::before {
  background: linear-gradient(135deg, transparent 0%, transparent 50%, #333 50%, #333 100%);
}

/*------------------------------
ページヘッダー
------------------------------*/
.page-header {
  height: 7rem;
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0%;
  z-index: 20;
  padding-right: 4rem;
  padding-left: 4rem;
}

@media (max-width: 767px) {
  .page-header {
    height: 60px;
    padding: 14px 16px;
  }
}

/* ヘッダーのナビゲーション */
.page-header-wrap {
  height: inherit;
  display: flex;
  justify-content: start;
  position: relative;
  align-items: center;
}

@media (max-width: 767px) {
  .page-header-wrap {
    padding: 0;
    height: 100%;
  }
}

.page-header__logo {
  position: absolute;
  margin: 3.5rem 0rem 3.5rem 0;
  width: 12rem;
}

@media (max-width: 767px) {
  .page-header__logo {
    width: 12rem;
    margin: 0;
  }
}

.page-header__logo img {
  font-size: 25px;
  vertical-align: top;
}

.page-header__logo a {
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.page-header__list-menu {
  margin: auto;
  margin-right: 0rem;
  display: flex;
  align-items: center;
}

.page-header__list-menu li:not(:first-child) {
  margin-left: 40px;
}

@media (max-width: 767px) {
  .page-header__list-menu {
    display: none;
  }
}

.page-header li a {
  display: block;
  font-size: 16px;
  line-height: 1;
  color: #333333;
  transition: opacity 0.2s ease 0s;
  position: relative;
}

.page-header li a::after {
  display: block;
  position: absolute;
  content: " ";
  opacity: 0;
  bottom: -8px;
  width: 100%;
  background-color: #e81919;
  height: 2px;
}

.page-header li a.is-active::after {
  opacity: 1;
}

.page-header li a:hover {
  opacity: 0.7;
}

.page-header__hamburger {
  position: fixed;
  top: 20px;
  right: 16px;
  width: 22px;
  height: 20px;
  z-index: 30;
  transition: 0.5s ease 0s;
}

.page-header__hamburger.is-active {
  transform: translateX(-200px);
}

.page-header__hamburger.is-active .page-header__icon1 {
  transform: rotate(-45deg);
  top: 10px;
  transition: 0.5s ease 0s;
}

.page-header__hamburger.is-active .page-header__icon2 {
  display: none;
}

.page-header__hamburger.is-active .page-header__icon3 {
  transform: rotate(45deg);
  top: 10px;
  transition: 0.5s ease 0s;
}

.page-header__hamburger .page-header__icons {
  display: block;
  width: 22px;
  height: 20px;
  position: relative;
}

.page-header__hamburger .page-header__icon1,
.page-header__hamburger .page-header__icon2,
.page-header__hamburger .page-header__icon3 {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #3ea1d1;
  top: 0px;
  left: 0px;
}

.page-header__hamburger .page-header__icon2 {
  top: 8px;
}

.page-header__hamburger .page-header__icon3 {
  top: 16px;
}

.hamburger__background.is-active {
  left: 0%;
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  z-index: 20;
  opacity: 0.7;
}

.hamburger__items {
  background-color: white;
  padding: 0%;
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  transform: translateX(105%);
  transition: 0.5s ease 0s;
}

.hamburger__items.is-active {
  transform: translateX(0%);
}

.hamburger__item {
  height: 56px;
  padding: 20px;
  border-bottom: 1px dotted #707070;
}

.hamburger__item a {
  display: block;
  color: #707070;
  position: relative;
}

.hamburger__item a::after {
  content: "";
  position: absolute;
  background: transparent url(../../images/arrow-b.svg) no-repeat top center/contain;
  color: white;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 8px;
  height: 11px;
}

.mainvisual {
  height: 72rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}

@media (max-width: 1295px) {
  .mainvisual {
    height: 50rem;
  }
}

@media (max-width: 767px) {
  .mainvisual {
    height: 600px;
    position: static;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.mainvisual .mainvisual__messaage {
  position: absolute;
  width: 33rem;
  height: 33rem;
  z-index: 10;
  margin-top: 16.5rem;
  margin-left: 4rem;
  background-color: #fff;
}

@media (max-width: 767px) {
  .mainvisual .mainvisual__messaage {
    position: static;
    margin: 0;
  }
}

.mainvisual .mainvisual__messaage .message__title {
  width: 15.6rem;
  height: 7rem;
  font-family: ヒラギノ明朝 ProN;
  font-size: 26px;
  margin-top: 9.2rem;
  margin-bottom: 2.8rem;
  line-height: 4.4rem;
  font-weight: 600;
}

@media (max-width: 767px) {
  .mainvisual .mainvisual__messaage .message__title {
    width: 100%;
    height: 2.6rem;
    margin: 0;
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
  }
}

.mainvisual .mainvisual__messaage .message_contents {
  width: 29rem;
  height: 4.8rem;
  font-family: ヒラギノ明朝 ProN;
  font-size: 1.6rem;
  line-height: 27px;
}

.mainvisual .mainvisual__image {
  position: absolute;
  top: 0rem;
  right: 4rem;
  width: 99rem;
  height: 66rem;
  z-index: -1;
}

@media (max-width: 767px) {
  .mainvisual .mainvisual__image {
    position: static;
    width: 100%;
    height: 41.4rem;
  }
}

.mainvisual .mainvisual__image img {
  width: 99rem;
}

@media (max-width: 767px) {
  .mainvisual .mainvisual__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 75% 60%;
  }
}

.mainvisual__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  .mainvisual__inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.mainvisual__title {
  color: #333333;
  font-size: 64px;
  line-height: 1.2;
  /* 背景色（黒） */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 704px;
}

@media (max-width: 1295px) {
  .mainvisual__title {
    font-size: 56px;
  }
}

@media (max-width: 767px) {
  .mainvisual__title {
    font-size: 36px;
    margin: 0px;
    overflow-wrap: wrap;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.mainvisual__campaign {
  box-sizing: border-box;
  line-height: 24px;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 216px;
  height: 24px;
  text-align: center;
  font-size: 24px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.mainvisual__button {
  margin-top: 32px;
  margin-bottom: 4px;
  margin-left: auto;
  margin-right: auto;
  width: 384px;
  height: 72px;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .mainvisual__button {
    width: 100%;
    height: 64px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.mainvisual__button a {
  height: inherit;
  padding: 16px 24px 20px 24px;
  text-align: center;
}

@media (max-width: 767px) {
  .mainvisual__button a {
    padding-top: 12px;
  }
}

.mainvisual__logo {
  top: 0;
  left: 0;
  z-index: 1;
}

/*------------------------------
conceptの設定
------------------------------*/
.concept__image {
  width: 60rem;
}

.concept__items {
  display: flex;
  justify-content: space-around;
  padding-top: 8rem;
}

.item__image {
  width: 60rem;
  height: 40rem;
  margin-right: auto;
  margin-left: 0rem;
}

.concept__contents {
  width: 60rem;
  padding-left: 8rem;
}

.concept__item .item__title {
  width: 32rem;
  height: 5.4rem;
  margin-top: 10rem;
  margin-bottom: 4.8rem;
  line-height: 3.2rem;
  font-size: 2rem;
  font-family: ヒラギノ明朝 ProN;
  font-weight: 600;

}

.concept__item .item__contents {
  width: 52.1rem;
  height: 7.5rem;
  font-size: 1.6rem;
  font-family: ヒラギノ明朝 ProN;
  font-weight: 300;
}

/*------------------------------
最新情報
------------------------------*/
#news {
  background-color: #fff;
}

.news-list {
  width: 800px;
  display: flex;
  border-bottom: solid 2px #131314;
  margin: 10px auto;
  padding: 10px 0;
}

@media (max-width: 1295px) {
  .news-list {
    display: block;
    width: 100%;
    padding: 0;
    margin: 20px auto;
  }
}

@media (max-width: 767px) {
  .news-list {
    display: block;
    width: 100%;
    padding: 0;
    margin: 20px auto;
  }
}

.news-list time {
  display: inline-block;
  margin-right: 10px;
  width: 85px;
}

@media (max-width: 767px) {
  .news-list time {
    text-align: center;
    width: 40%;
    padding: 0;
  }
}

.news-list .news-list__meta a {
  display: inline-block;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 8px;
  width: 80px;
  color: white;
}

@media (max-width: 767px) {
  .news-list .news-list__meta a {
    width: 20%;
    padding: 0;
    text-align: center;
  }
}

.news-list .neww-list__meta__label1 {
  background-color: #333333;
}

.news-list .neww-list__meta__label2 {
  background-color: #e81919;
}

.news-list .neww-list__meta__label3 {
  background-color: #3ea1d1;
}

.news-list__first {
  margin-top: 100px;
}

@media (max-width: 767px) {
  .news-list__first {
    margin-top: 60px;
  }
}

.news-list__title {
  margin-left: 10px;
  width: calc(100% - (200px));
  line-height: 1.6em;
  text-align-last: left;
}

.news-list__title a {
  display: inline-block;
  width: 100%;
  padding: 0%;
}

@media (max-width: 767px) {
  .news-list__title {
    margin-top: 10px;
    width: 100%;
  }
}

.news-page-link {
  width: 100%;
  margin: 60px auto 0;
  font-size: 25px;
  text-align: center;
}

@media (max-width: 767px) {
  .news-page-link {
    width: 100px;
    margin: 40px auto 0;
  }
}

.news-page-link a {
  color: red;
  text-align: center;
  position: relative;
  padding-right: 14px;
  padding-bottom: 5px;
}

.news-page-link a::after {
  content: "";
  position: absolute;
  background: transparent url(../images/news-arrow.svg) no-repeat top center/contain;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 7px;
  height: 11px;
}

/*------------------------------
Price
------------------------------*/
.price__items {
  display: flex;
  justify-content: space-between;
  margin: 80px 0 146px 0;
}

@media (max-width: 1295px) {
  .price__items {
    display: block;
  }
}

@media (max-width: 767px) {
  .price__items {
    display: block;
  }
}

.price__item__img {
  width: 454px;
  height: 286px;
  margin-right: 40px;
}

.price__item__img img {
  width: inherit;
  height: inherit;
}

@media (max-width: 1295px) {
  .price__item__img {
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    object-fit: cover;
  }
}

@media (max-width: 767px) {
  .price__item__img {
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    object-fit: cover;
  }
}

.price__item__table {
  width: 786px;
  height: 286px;
}

@media (max-width: 1295px) {
  .price__item__table {
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 10px;
  }
}

@media (max-width: 767px) {
  .price__item__table {
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 10px;
  }
}

.table__wrap {
  overflow-x: auto;
}

.table__list {
  border: 1px solid #333;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  height: 286px;
}

.table__list th {
  border: 1px solid #333;
  text-align: center;
  width: 268px;
  height: 20%;
  background-color: #999999;
  color: white;
  vertical-align: middle;
}

.table__list th:first-child {
  width: 168px;
}

@media (max-width: 767px) {
  .table__list th {
    width: 100%;
  }
  .table__list th:first-child {
    width: 100%;
  }
}

.table__list td {
  border: 1px solid #333;
  vertical-align: middle;
  text-align: right;
  padding-right: 16px;
  font-size: 16px;
  font-weight: 700;
  word-wrap: break-word;
  height: 20%;
}

.table__list td:first-child {
  background-color: #999999;
  color: white;
  text-align: center;
  vertical-align: middle;
}

.table__list td .is-a {
  color: red;
}

.table__list td span {
  display: block;
  font-size: 13px;
}

.is-h {
  line-height: 20px;
}

.price__meta__comment {
  margin-top: 10px;
}

.price__meta__comment a {
  text-decoration: underline;
}

/*------------------------------
map
------------------------------*/
#access {
  background-color: #fff;
}

.map-item {
  margin: 100px auto 20px;
  width: 100%;
  padding-top: 50%;
  position: relative;
  z-index: 1;
}

.map-item iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.map-info {
  display: flex;
}

.map-info :first-child {
  width: 64px;
  margin-right: 20px;
}

.map__button {
  font-size: 16px;
  position: relative;
  padding: 20px 20px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
  width: 300px;
  height: 72px;
  border-radius: 10px;
}

.map__button::after {
  content: "";
  position: absolute;
  background: transparent url(../images/news-arrow.svg) no-repeat top center/contain;
  color: white;
  top: 50%;
  right: 35px;
  transform: translateY(-50%);
  width: 7px;
  height: 11px;
}

/*------------------------------
お客様の声
------------------------------*/
.voice {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 100px;
}

@media (max-width: 767px) {
  .voice {
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
  }
}

.voice-list {
  box-sizing: border-box;
  height: 321px;
  padding: 16px;
  padding-top: 22px;
  background-color: white;
  border-radius: 10px;
}

@media (min-width: 1200px) {
  .voice-list {
    width: calc(33.3% - 24px * 2 / 3);
  }
  .voice-list:not(:nth-child(3n + 1)) {
    margin-left: 24px;
  }
  .voice-list:nth-child(n + 4) {
    margin-top: 24px;
  }
}

@media (max-width: 1295px) {
  .voice-list {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    width: calc(50% - 24px / 2);
    width: 100%;
  }
  .voice-list:nth-child(3n) {
    margin-right: 24px;
  }
  .voice-list:nth-child(2n) {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .voice-list {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 1295px) {
  .voice-list__item {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .voice-list__item {
    width: 100%;
  }
}

.voice-list .first__img {
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.voice-list img {
  box-sizing: border-box;
  display: block;
  text-align: center;
  width: 100%;
}

@media (max-width: 767px) {
  .voice-list img {
    font-size: 32px;
    margin-bottom: 10px;
    padding: 5px;
  }
}

.media__img {
  box-sizing: border-box;
}

.media__img img {
  box-sizing: border-box;
  width: 100%;
}

.voice-block {
  overflow: hidden;
  box-sizing: border-box;
}

.voice-block__client-image figcaption {
  /* 高さの最低値を { フォントサイズ×行高×2行分 } + { 上下のpaddingの合計 } で設定する */
  min-height: calc((1em * 1.75 * 2) + 28px);
  padding: 14px 20px;
  box-sizing: border-box;
  background-color: #008dd5;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #fff;
}

.voice-block__message {
  padding: 20px;
  font-size: 1.6rem;
  line-height: 1.75;
}

.voice-list__item__title {
  font-size: 20px;
  line-height: 20px;
  margin-top: 18px;
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  .voice-list__item__title {
    margin-top: 9px;
    margin-bottom: 8px;
  }
}

.voice-list__item__text {
  font-size: 16px;
  line-height: 1.3;
}

/*------------------------------
よくある質問
------------------------------*/
.qa {
  font-weight: bold;
}

.qa__inner {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.qa__items {
  width: inherit;
  margin-top: 99px;
}

.qa__item {
  width: inherit;
  margin-bottom: 12px;
}

.qa__item:nth-child(n + 2) {
  margin-top: 24px;
}

.accordion__head {
  background-color: #3f51b5;
  color: white;
  height: 40px;
  display: table-cell;
  width: inherit;
  vertical-align: middle;
  padding-top: auto;
  padding-bottom: auto;
  padding-left: 55px;
  padding-right: 30px;
  font-weight: bold;
  font-family: 游ゴシック体;
  position: relative;
}

.accordion__head::before {
  content: "Q";
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.accordion__icon {
  position: absolute;
  display: inline-block;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  background: url(../../images/plus.svg);
  width: 14px;
  height: 14px;
  line-height: 40px;
  vertical-align: middle;
  transition: all 0.3s ease 0s;
}

.accordion__icon.is-open {
  background: none;
  position: absolute;
  width: 14px;
  height: 2px;
  background-color: white;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.accordion__body {
  height: 98px;
  padding-left: 55px;
  padding-right: 30px;
  background-color: #ffffff;
  color: #3f51b5;
  border: 1px solid #3f51b5;
  font-weight: bold;
  font-family: 游ゴシック体;
  position: relative;
}

.accordion__body::before {
  content: "A";
  position: absolute;
  transform: translate(-50%, -50%);
  top: 28px;
  left: 20px;
  transform: translateY(-50%);
}

.accordion__body-in {
  padding-top: 16px;
  padding-bottom: 16px;
  line-height: 1.3;
}

/*------------------------------
問い合わせ_フォーム
------------------------------*/
.contact__inner {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact-form__send-button {
  margin: 30px auto 0;
  width: 300px;
}

.form-parts {
  display: flex;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .form-parts {
    display: block;
  }
}

.form-parts__label {
  display: block;
  font-size: 1.6rem;
  line-height: 1;
  position: relative;
  margin: auto;
}

@media (max-width: 767px) {
  .form-parts__label {
    display: inline;
    margin-bottom: 20px;
  }
}

.form-parts__label::after {
  display: block;
  position: absolute;
  content: "必須";
  color: white;
  text-align: center;
  bottom: -20px;
  width: 50px;
  background-color: #e81919;
  height: 16px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
  font-weight: normal;
}

@media (max-width: 767px) {
  .form-parts__label::after {
    display: block;
    margin-left: 70%;
    bottom: 0px;
    top: 50%;
    right: 50%;
    transform: translateY(-50%);
  }
}

.form-parts_other {
  margin-top: 10px;
}

input[type="text"],
input[type="email"] {
  display: inline-block;
  width: 500px;
  margin-left: auto;
  margin-right: 40px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 1.6rem;
}

@media (max-width: 767px) {
  input[type="text"],
  input[type="email"] {
    width: 100%;
  }
}

.select-wrapper {
  display: inline-block;
  width: 500px;
  margin-left: auto;
  margin-right: 40px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
}

@media (max-width: 767px) {
  .select-wrapper {
    width: 100%;
  }
}

.select-wrapper select {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 1.6rem;
}

.select-wrapper::after {
  content: "";
  display: block;
  width: 12px;
  height: 9px;
  background: url(../images/icon-triangle.png) left top no-repeat;
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 1;
  transform: translateY(-50%);
}

textarea {
  width: 500px;
  margin-left: auto;
  margin-right: 40px;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 1.2rem;
  line-height: 1.75;
  resize: none;
}

@media (max-width: 767px) {
  textarea {
    width: 100%;
  }
}

.radio__item {
  display: inline-block;
}

input[type="radio"] {
  display: none;
}

.contact__radio label {
  position: relative;
  padding-left: 25px;
  margin-left: 16px;
}

.contact__radio input[type="radio"] + label::before {
  position: absolute;
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #1b1b1b;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.contact__radio input[type="radio"] + label::after {
  position: absolute;
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #2e3175;
  left: 2.5px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: 0.3s;
}

.contact__radio input[type="radio"]:checked + label::after {
  opacity: 1;
}

@media (max-width: 767px) {
  .contact__radio {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
  }
}

#apple {
  margin-left: 40px;
}

@media (max-width: 767px) {
  #apple {
    margin: 0px 10px 5px 5px;
  }
}

.form_privacy {
  margin-left: auto;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.form_privacy a {
  text-decoration: underline;
  font-weight: 600;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
  margin-right: 6px;
}

.form_privacy input[type="checkbox"] {
  display: none;
}

/* チェックボックスの代わりを成すラベル */
.form_privacy input[type="checkbox"] + label {
  display: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 20px;
  padding-right: 10px;
}

/* ラベルの左に表示させる正方形のボックス□ */
.form_privacy input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  left: -10px;
  top: 50%;
  border: 1px solid;
  cursor: pointer;
  border-color: #cf0ca5;
  /* 枠の色変更 お好きな色を */
  background-color: #f4f6f8;
  /* 背景の色変更 お好きな色を */
}

/* チェックが入った時のレ点 */
.form_privacy input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 18px;
  height: 9px;
  margin-top: -9px;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  transform: rotate(-45deg);
  border-bottom: 3px solid;
  border-left: 3px solid;
  border-color: #201d11;
  /* チェックの色変更 お好きな色を */
}

/*------------------------------
モーダル
------------------------------*/
.modal__inner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90rem;
  height: 65.2rem;
  max-height: calc();
  margin: auto;
  background-color: white;
  transition: all 1s ease 0s;
  z-index: 502;
  transform: translate(-50%, -200%);
}

.modal__inner.is-show {
  display: block;
  transform: translate(-50%, -50%);
}

.modal__icon {
  position: relative;
}

.modal__icon .modal__icon-a {
  position: absolute;
  top: -2rem;
  right: -2rem;
  width: 4rem;
  height: 4rem;
}

.modal__icon .modal__icon-a image {
  width: 4rem;
  height: 4rem;
  z-index: 503;
}

.modal__title {
  width: 24rem;
  height: 2.4rem;
  margin: auto;
  padding-top: 6rem;
}

.modal__title span {
  font-size: 24px;
}

.modal__title span::after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  position: absolute;
  z-index: 1;
  bottom: -26px;
  background-color: #3ea1d1;
  left: 50%;
  transform: translate(-50%);
}

.modal__items {
  vertical-align: top;
  overflow: auto;
  width: 80rem;
  margin: 10rem auto 0 auto;
  height: 30rem;
  /* これを追加 */
}

.modal__box {
  height: 14.8rem;
  margin: auto;
}

.modal__box:nth-child(n + 1) {
  margin-bottom: 6rem;
}

.box__title {
  width: 12rem;
  padding-left: 1.6rem;
  line-height: 2rem;
  font-size: 20px;
  border-left: solid 4px #3f51b5;
}

.box__article {
  margin-top: 1.6rem;
  padding-left: 1.6rem;
  line-height: 1.5;
}

.modal__button {
  margin-top: 76px;
  margin-bottom: 76px;
  width: 17.6rem;
  height: 48px;
  vertical-align: middle;
}

.modal__button a {
  display: inline-block;
  height: 50.4px;
  font-size: 16px;
  line-height: 16px;
  border-radius: 1rem;
}

.modal__background {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  z-index: 500;
  display: none;
}

.modal__background.is-show {
  display: block;
  z-index: 500;
}

/*------------------------------
ページフッター
------------------------------*/
.footer {
  background: linear-gradient(to bottom, #666666, #333333);
  color: #ffffff;
  position: relative;
}

.footer__items {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 767px) {
  .footer__items {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
}

.footer__logo {
  margin-left: 40px;
  margin-right: 203px;
  width: 205px;
  height: 40px;
}

@media (max-width: 767px) {
  .footer__logo {
    width: 120px;
    height: 30px;
    margin-left: 25px;
  }
}

.footer__nav ul {
  display: flex;
}

.footer__nav ul li {
  color: white;
  font-size: 16px;
}

.footer__nav ul li:not(:first-child) {
  margin-left: 40px;
}

.footer__nav ul li a {
  color: white;
}

@media (max-width: 767px) {
  .footer__nav ul {
    display: none;
  }
}

.footer__link {
  display: flex;
  margin-right: 40px;
  margin-left: auto;
}

.footer__link a {
  margin-left: 16px;
}

@media (max-width: 767px) {
  .footer__link a {
    width: 20px;
    height: 20px;
    margin-left: 25px;
  }
}

@media (max-width: 767px) {
  .footer__link {
    margin-left: 0px;
    margin-right: 10px;
  }
}

.footer__address {
  margin-left: 40px;
}

@media (max-width: 767px) {
  .footer__address {
    margin-left: 30px;
  }
}

.footer__tel {
  margin-top: 14px;
  margin-bottom: 46px;
  margin-left: 40px;
}

@media (max-width: 767px) {
  .footer__tel {
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.footer__end {
  margin: 0 auto 0px;
  padding-bottom: 20px;
  text-align: center;
  color: white;
}

.footer__totop {
  position: fixed;
  bottom: 24px;
  right: 24px;
  transition: all 0.5s ease 0s;
  opacity: 0;
  visibility: hidden;
}

.footer__totop.is-show {
  transition: all 0.5s ease 0s;
  opacity: 1;
  visibility: visible;
}

.footer__totop.is-show:hover {
  opacity: 0.7;
}

@media (max-width: 767px) {
  .footer__totop.is-show {
    width: 30px;
    height: 30px;
  }
}

.page-footer {
  padding: 50px 0;
  background-color: #008dd5;
}

.page-footer__nav {
  display: flex;
}

.page-footer__nav .footer-nav-block:not(:last-child) {
  margin-right: 100px;
}

.footer-nav-block__category {
  margin-bottom: 40px;
  font-size: 1.4rem;
  line-height: 1;
  color: #fff;
}

.footer-nav-block__list {
  font-size: 1.4rem;
  line-height: 1;
}

.footer-nav-block__list li:not(:last-child) {
  margin-bottom: 20px;
}

.footer-nav-block__list li a {
  color: #fff;
}

.footer-nav-block__list li a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=res_style.css.map */